<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>samsung</title>
</head>
<body>
    <header>
        <nav>
            <div style="border:1px; height:75px;">
                <ul  type="none" style="display:flex;">
                    <li style="flex:1; font-size:larger"><b><a href="https://www.samsung.com" style="text-decoration:none;">SAMSUNG</a></b></li>
                    <li style="flex:0.3"><a href="https://www.samsung.com/in/mobile/" style="text-decoration:none;">Mobiles</a></li>
                    <li style="flex:0.3"><a href="https://www.samsung.com/in/tvs/all-tvs/" style="text-decoration:none;">TVs</a></li>
                    <li style="flex:0.6"><a href="https://www.samsung.com/in/home-appliances/" style="text-decoration:none;">HomeAppliance</a></li>
                    <li style="flex:0.4"><a href="https://www.samsung.com/in/computers/all-computers/" style="text-decoration:none;">Laptops</a></li>
                    <li style="flex:0.4"><a href="https://www.samsung.com/in/business/displays/" style="text-decoration:none;">Displays</a></li>
                    <li style="flex:0.5"><a href="https://www.samsung.com/in/accessories/" style="text-decoration:none;">Accessories</a></li>
                    <li style="flex:0.5"><a href="https://www.samsung.com/in/smartthings/do-the-smartthings/" style="text-decoration:none;">SmartThings</a></li>
                    <li style="flex:0.6"><a href="https://www.samsung.com/in/offer/online/samsung-fest/" style="text-decoration:none;">Offers</a></li>
                    <li style="flex:0.3"><a href="https://www.samsung.com/in/support/" style="text-decoration:none;">Support</a></li>
                    <li style="flex:0.4"><a href="https://www.samsung.com/in/business/" style="text-decoration:none;">For Business</a></li>
                    <li style="flex:0.4"><a href="SignIn.html" style="text-decoration:none;">SignIn</a></li>

                </ul>
            </div>
        </nav>
    </header>


    <div style="border:1px ;height:150px">
        <big><h1 style="text-align:center;">Shop our limited time offers</h1></big>
    </div>



    <div style="border:1px ; display:flex ;height:150px;">
        <div style="flex:0.7;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/" style="text-decoration:none;"><img src="3.1.webp" alt="Feature Deals">
            <h4>Feature Deals</h4></a>
        </div>
        <div style="flex:1.2;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/combo-offer/" style="text-decoration:none;"><img src="3.2.png" alt="img2">
            <h4>Buy more save more</h4></a>
        </div>
        <div style="flex:0.6;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/mobiles/" style="text-decoration:none;"><img src="3.3.webp" alt="img3">
            <h4>Mobiles</h4></a>
        </div>
        <div style="flex:1.2;text-align:center;">
             <a href="https://www.samsung.com/in/offer/online/samsung-fest/television-soundbar/" style="text-decoration:none;"><img src="3.4.webp" alt="img4">
            <h4>Teleision&Soundbars</h4></a>
        </div>
        <div style="flex:0.8;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/refrigerators/" style="text-decoration:none;"><img src="3.5.png" alt="img5">
            <h4>Refrigerators</h4></a>

        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/washing-machines/" style="text-decoration:none;"><img src="3.6.png" alt="img6">
            <h4>WashingMachines</h4></a>

        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/air-conditioners/" style="text-decoration:none;"><img src="3.7.webp" alt="img7">
            <h4>AirConditioners</h4></a>

        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/tablets-wearables/" style="text-decoration:none;"><img src="3.8.webp" alt="img8">
            <h4>Tablets&Wearables</h4></a>

        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/laptops-monitors/" style="text-decoration:none;"><img src="3.9.png" alt="img9">
            <h4>Laptops&Monitors</h4></a>

        </div>
        <div style="flex:0.8;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/kitchen-care/" style="text-decoration:none;"><img src="3.10.png" alt="img10">
            <h4>KitchenCare</h4></a>

        </div>
        <div style="flex:0.8;text-align:center;">
            <a href="https://www.samsung.com/in/offer/online/samsung-fest/accessories/" style="text-decoration:none;"><img src="3.11.webp" alt="img11">
            <h4>Accessories</h4></a>

        </div>
    </div>



    <div style="border:1px;height:450px;display:flex">
        <div style="flex:1">
            <img src="4.1.jpg" alt="banner" width="100%">
        </div>
    </div>


    <div style="border:1px ;height:75px">
        <big><h1 style="text-align:center;">The Big Holiday Sale Deals!</h1></big>
    </div>



    <div style="border:1px ;display :flex;height:600px">
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/tvs/qled-tv/qn90b-55-inch-neo-qled-4k-smart-tv-qa55qn90baklxl/" style="text-decoration:none;"><img src="7.1.webp" alt="banner1" width="100%">
            <h3>1m 38cm(55")Neo QLED 4K SmartTv</h3>
            <h3>QN90B</h3>
            <p>Rs.169990  <S>Rs.219900</S></p>
            <p style="color:blue;"><b>Fest offer Rs.159490*</b></p>
            <p>inc Rs.10500* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/lifestyle-tvs/the-frame/ls03b-65-inch-the-frame-qled-4k-smart-tv-black-qa65ls03baklxl/" style="text-decoration:none;"><img src="7.2.webp" alt="banner1" width="100%">
            <h3>1m 63cm(65")LS03B The Frame QLED 4K</h3>
            <h3>Tv</h3>
            <p>Rs.134990  <S>Rs.222900</S></p>
            <p style="color:blue;"><b>Fest offer Rs.128990*</b></p>
            <p>inc Rs.10% off with Bank cashback</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/tvs/qled-tv/q60b-65-inch-qled-4k-smart-tv-qa65q60baklxl/" style="text-decoration:none;"><img src="7.3.webp" alt="banner1" width="100%">
            <h3 >1m 63cm(65")Q60B QLED 4K Smart</h3>
            <h3 >Tv</h3>
            <p>Rs.154990  <S>Rs.209900</S></p>
            <p style="color:blue;"><b>Fest offer Rs.142990*</b></p>
            <p>inc Rs.12000* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
        <div style="flex:1;text-align:center">
            <a href="https://www.samsung.com/in/tvs/qled-tv/qn95b-65-inch-neo-qled-4k-smart-tv-qa65qn95baklxl/" style="text-decoration:none;"><img src="7.4.png" alt="banner1" width="100%">
            <h3>1m 63cm(65")QN95B Neo QLED 4K</h3>
            <h3>SmartTv</h3>
            <p>Rs.259990  <S>Rs.349900</S></p>
            <p style="color:blue"><b>Fest offer Rs.247990*</b></p>
            <p>inc Rs.12000* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
    </div>

    <div style="border:1px;height:600px;display:flex">
        <div style="flex:1;text-align:center">
            <a href="https://www.samsung.com/in/smartphones/galaxy-s22/buy/?modelCode=SM-S901EZGDINU" style="text-decoration:none;"><img src="7.11.webp" alt="banner2" width="100%">
            <h2>Galaxy S22</h2>
            <p>Rs.52999 <s>Rs.85999</s></p>
            <p style="color:blue"><b>Fest Offer Rs.50999*</b></p>
            <p>incl. Rs.2000* off with app welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/smartphones/galaxy-s20/buy/?modelCode=SM-G781BZGGINS" style="text-decoration:none;"><img src="7.12.webp" alt="banner2" width="100%">
            <h2>Galaxy S20 FE 5G</h2>
            <p>Rs.32999 <s>Rs.74999</s></p>
            <p style="color:blue"><b>Fest Offer Rs.31999*</b></p>
            <p>incl. Rs.1000* off with App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/smartphones/galaxy-z-flip4/buy/?modelCode=SM-F721BLVA" style="text-decoration:none;"><img src="7.13.webp" alt="banner2" width="100%">
            <h2>Galaxy Z FLip4(8GB|128GB)</h2>
            <p>Rs.89999</p>
            <p style="color:blue"><b>Fest Offer Rs.80999*</b></p>
            <p>incl. Rs.9000* off with Bank cashback & App Welcome voucher</p>
             <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/smartphones/galaxy-z-flip3-5g/buy/?modelCode=SM-F711BZKBINU" style="text-decoration:none;"><img src="7.14.webp" alt="banner2" width="100%">
            <h2>Galaxy Z Flip3 5G</h2>
            <p>Rs.59999 <s>Rs.95999</s></p>
            <p style="color:blue"><b>Fest Offer Rs.57999*</b></p>
            <p>incl. Rs.1000* off with App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
    </div>

    <div style="border:1px ;height:600px;display:flex;">
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/refrigerators/side-by-side/676l-ez-clean-steel-rs74r5101sl-tl/" style="text-decoration:none;"><img src="7.21.webp" alt="banner3" width="100%">
            <h3>RS74R5101SL Side by Side with SpaceMax Technology 676l</h3>
            <p>Rs.100000 <s>Rs.145990</s></p>
            <p style="color:blue;"><b>Fest Offer Rs.83500*</b></p>
            <p>incl.Rs.16500* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>

        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/refrigerators/french-door/rf9000ac-non-dispenser-fdr-with-triple-cooling-705l-silver-rf70a90t0sl-tl/" style="text-decoration:none;"><img src="7.22.webp" alt="banner3" width="100%">
            <h3>French Door Refrigerator with Dual Flex Zone 705L RF70A90T0SL</h3>
            <p>Rs.161500 <s>Rs.214990</s></p>
            <p style="color:blue;"><b>Fest Offer Rs.151500*</b></p>
            <p>incl.Rs.10000* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/washers-and-dryers/washing-machines/ww6000t-front-loading-eco-bubble-ai-control-super-speed-9kg-platinum-silver-ww90t604dln-tl/" style="text-decoration:none;"><img src="7.23.webp" alt="banner3" width="100%">
            <h3>FrontLoad with AI Control& SmartThings Connectivity 9.0Kg WW90T604DLN</h3>
            <p>Rs.46500 <s>Rs.61500</s></p>
            <p style="color:blue;"><b>Fest Offer Rs.35700*</b></p>
            <p>incl.Rs.10800* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/washers-and-dryers/washer-dryer-combo/wd6300twd80t604dbxtl-front-loading-ai-control-air-wash-bubble-soaknon-auto-dispense-8kg-platinum-silver-wd80t604dbx-tl/" style="text-decoration:none;"><img src="7.24.webp" alt="banner3" width="100%">
            <h3>8.0Kg AI Control& SmartThings connectivity Washer Dryer Combo</h3>
            <p> Rs.56500 <s>Rs.73000</s></p>
            <p style="color:blue;"><b>Fest Offer Rs.41600*</b></p>
            <p>incl.Rs.14900* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>
    </div>

    <div style="border:1px ;height:600px;display:flex;">
        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/audio-sound/galaxy-buds/galaxy-buds2-pro-bora-purple-sm-r510nlvainu/" style="text-decoration:none;"><img src="7.31.webp" alt="banner4" width="90%">
            <h3>Galaxy Buds2 Pro</h3>
            <p>Rs.17999 <s>Rs.19999</s></p>
            <p style="color:blue;"><b>Fest Offer Rs.129499*</b></p>
            <p>incl.Rs.5500* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/audio-sound/galaxy-buds/galaxy-buds-live-mystic-black-sm-r180nzkainu/" style="text-decoration:none;"><img src="7.32.webp" alt="banner4" width="90%">
            <h3>Galaxy Buds Live</h3>
            <p>Rs.5990 <s>Rs.15999</s></p>
            <p>Battery that deliers all-day connectivity</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
           <a href="https://www.samsung.com/in/audio-sound/galaxy-buds/galaxy-buds2-graphite-sm-r177nzkainu/" style="text-decoration:none;"><img src="7.33.webp" alt="banner4" width="90%">
            <h3>Galaxy Buds2</h3>
            <p>Rs.11999 <s>Rs.13990</s></p>
            <p>Well-balanced Sound</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

        <div style="flex:1;text-align:center;">
            <a href="https://www.samsung.com/in/tablets/galaxy-tab-s8/buy/?modelCode=SM-X700NZAAINU" style="text-decoration:none;"><img src="7.34.webp" alt="banner4" width="90%">
            <h3>Galaxy Tab S8(Wi-Fi)</h3>
            <p>Rs.58999 <s>Rs.66999</s></p>
            <p style="color:blue;"><b>Fest Offer Rs.49999*</b></p>
            <p>incl.Rs.9000* off with Bank cashback & App Welcome voucher</p>
            <h3><mark style="background-color:black;color:white;">BuyNow</mark></h3></a>
        </div>

    </div>


    <nav style="text-align:center;">
        <a href="https://api.whatsapp.com/send?phone=91180057267864&text=&source=&data"><img src="8.1.png" alt="icons" width="3%"></a>
        <a href="https://twitter.com/samsungindia"><img src="8.2.webp" alt="icons" width="3%"></a>
        <a href="https://www.facebook.com/SamsungIndia"><img src="8.3.webp" alt="icons" width="3%"></a>
        <a href="https://www.linkedin.com/company/samsung-india"><img src="8.4.png" alt="icons" width="3%"></a>
    </nav>

    <footer style="text-align:center;">
        <p>Copyright &copy 1995-2022 SAMSUNG All Rights reserved.</p>
    </footer>




</body>
</html>