<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="border:1px solid black;height:75px">
        <h1 style="text-align:center;">UHD</h1>
    </div>


    <div style="border:1px solid black; height:600px;display:flex;">
        <div style="flex:1">
            <img src="5.1.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 08cm(43") Crystal 4K UHD Smart TV</h3>
            <h3 style="text-align:center">AUE60</h3>
            <p style="text-align:center">$30990  <S>$52900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer $28740*</b></p>
            <p style="text-align:center;">inc $2250* off with App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>

        </div>

        <div style="flex:1">
            <img src="5.2.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">2m 16cm(85") BU8000 Crystal 4K UHD</h3>
            <h3 style="text-align:center">SmartTv</h3>
            <p style="text-align:center">$384990  <S>$519900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer $371490*</b></p>
            <p style="text-align:center;">inc $2250* off with Bank cashback & App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>

        <div style="flex:1">
            <img src="5.3.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 08cm(43") BU8000 Crystal 4K UHD</h3>
            <h3 style="text-align:center">SmartTv</h3>
            <p style="text-align:center">$46990  <S>$62900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer $40366*</b></p>
            <p style="text-align:center;">inc $6624* off with Bank cashback & App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>

        <div style="flex:1">
            <img src="5.4.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 08cm(43") AU7500 Crystal 4K UHD</h3>
            <h3 style="text-align:center">SmartTv</h3>
            <p style="text-align:center">$35490  <S>$49900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer $31578*</b></p>
            <p style="text-align:center;">inc $3912* off with Bank cashback & App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>
    </div>


    <div style="border:1px solid black; height:100px">
        <h1 style="text-align:center;">QLED</h1>
    </div>


    <div style="border:1px solid black;display :flex;height:600px">
        <div style="flex:1">
            <img src="7.1.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 38cm(55")Neo QLED 4K SmartTv</h3>
            <h3 style="text-align:center">QN90B</h3>
            <p style="text-align:center">Rs.169990  <S>Rs.219900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer Rs.159490*</b></p>
            <p style="text-align:center;">inc Rs.10500* off with Bank cashback & App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>
        <div style="flex:1">
            <img src="7.2.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 63cm(65")LS03B The Frame QLED 4K</h3>
            <h3 style="text-align:center">Tv</h3>
            <p style="text-align:center">Rs.134990  <S>Rs.222900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer Rs.128990*</b></p>
            <p style="text-align:center;">inc Rs.10% off with Bank cashback</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>
        <div style="flex:1">
            <img src="7.3.webp" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 63cm(65")Q60B QLED 4K Smart</h3>
             <h3 style="text-align:center">Tv</h3>
            <p style="text-align:center">Rs.154990  <S>Rs.209900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer Rs.142990*</b></p>
            <p style="text-align:center;">inc Rs.12000* off with Bank cashback & App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>
        <div style="flex:1">
            <img src="7.4.png" alt="banner1" width="100%">
            <h3 style="text-align:center">1m 63cm(65")QN95B Neo QLED 4K</h3>
            <h3 style="text-align:center">SmartTv</h3>
            <p style="text-align:center">Rs.259990  <S>Rs.349900</S></p>
            <hr>
            <p style="text-align:center;color:blue;"><b>Fest offer Rs.247990*</b></p>
            <p style="text-align:center;">inc Rs.12000* off with Bank cashback & App Welcome voucher</p>
            <h3 style="text-align:center"><mark style="background-color:black;color:white;">BuyNow</mark></h3>
        </div>
    </div>


<div style="border:1px solid black; height:100px">
        <big><h1 style="text-align:center;">Mobile&Computing</h1></big>

    </div>

    <header>
        <nav>
            <div style="border:1px solid black;height:150px;">
                <ul style="display:flex;text-align:center;">
                    <li type="none"  style="flex:1;">GalaxyZFlip4</li>
                    <li type="none"  style="flex:1;">Galaxy Z Fold4</li>
                    <li type="none"  style="flex:1;">GalaxyWatch5|Watch5 Pro</li>
                    <li type="none"  style="flex:1;">Galaxy A73 5G</li>
                    <li type="none"  style="flex:1;">Galaxy Book2 Series</li>
                </ul>
             </div>
        </nav>
    </header>

    <header>
        <nav>
            <div style="border:1px solid black;height:150px;">
                <big><h1 style="text-align:center;">Mobile&Computing</h1></big>
                <ul style="display:flex;text-align:center;">
                    <li type="none"  style="flex:1;">GalaxyZFlip4</li>
                    <li type="none"  style="flex:1;">Galaxy Z Fold4</li>
                    <li type="none"  style="flex:1;">GalaxyWatch5|Watch5 Pro</li>
                    <li type="none"  style="flex:1;">Galaxy A73 5G</li>
                    <li type="none"  style="flex:1;">Galaxy Book2 Series</li>
                </ul>
             </div>
        </nav>
    </header>
</body>
</html>